.records-h2{
    text-align: center;
    font-size: 24px;
    margin-bottom: 0px;
    display:inline-block;
    font-weight:600;
}
.records-table{
    color: black;
    border-collapse: collapse;
    width: 80%;
    margin: auto;
    padding: 6px;
}
.records-table td{
    padding: 0px;
}

.records-table th, .records-table td{
    border: 1px solid black;
    text-align: center;
}
 .records-table tr:nth-child(odd){
    background-color: #73000a80;
}

.title-div{
    width: 80%;
    margin: auto;
}
