.main-section{
    background: #73000a;
    color: #dddddd;
    padding: 5px;
    margin-top: 25px;
    margin-bottom: 25px;
    border-radius: 5px;
}
.section-img{
    padding:5px 10px;
    text-align: center;
    margin-top: 16px;
    margin-bottom: 5px;
}
.section-img img{
    max-width: 80%;
    margin: 2% 10%;
}

.section-words p{
    margin-left: 10px;
    margin-right: 10px;
    padding: 0 10px;
}
.section-words h3{
    margin: 5px;
    padding: 5px 0 5px 10px;
    border-bottom: solid 1px #dddddd;
    font-size: 20px;
    text-align: center;
}


/* Delete this later */
.done {
    color: green;
}