.officer-main{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    margin-bottom: 25px;
    background: #b7b7b7;
    border-radius: 5px;
    box-shadow:  5px 5px 5px #6b6b6b;
}
.text-section h3{
    margin-top: 2px;
    margin-bottom:2px;
    padding: 2px;
    text-align:center;
    font-size: 28px;
    font-weight: lighter;
    line-height: 1.0;

}
.text-section h4{
    font-family: gabriola;
    text-align:center;
    border-bottom: solid 1px #cccccc;
    font-size: 32px;
    margin:1px;
    padding: 0;
    font-weight: lighter;
}
.img-section img{
    width: 75%;
    margin: auto;
}
.img-section{
    padding: 8px;
    text-align: center;
    margin-top: 20px;
}
.text-section{
    padding:8px;
    margin-top: 25px;
    line-height: 1.75;
}
.text-section li{
    text-align: left;
}