.officer-main{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    margin-bottom: 25px;
    background: #b7b7b7;
    border-radius: 5px;
    box-shadow:  5px 5px 5px #6b6b6b;  
}
.officer-main h3{
    margin-top: 2px;
    margin-bottom:2px;
    padding: 2px;
    text-align:center;
    font-size: 28px;
    font-weight: lighter;
    line-height: 1.0;

}
.officer-main h4{
    font-family: gabriola;
    text-align:center;
    border-bottom: solid 1px var(--section-color-2);
    font-size: 32px;
    margin:1px;
    padding: 0;
    font-weight: lighter;
}
.img-section img{
    width: 75%;
}
.text-section{
    padding:5px;
    margin-top: 25px;
    line-height: 1.75;
}