:root{
    --background-color: black;
    --text-color: #dddddd;
}

footer{
    background: var(--background-color);
    color: var(--text-color);
    text-align: center;
    padding: 0px;
}
.links{
    text-align:right;
    margin: 1% 10% 1% 0;
}
.text-style{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10%;
}
.text-style h2{
    margin:0;
}